.productContainer {
  border: 1px solid black;
  border-radius: 20px;
  height: 11rem;
  width: 90vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: beige;
  margin-bottom: 1rem;
}
.productDescription {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
